*{
   text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
   #mainSec2 {
      display: flex;
      width: auto;
      height: 60%;
   }
   #whirlingPic {
      margin-left: 10%;
   }
}

@media only screen and (min-width: 1024px) {
   #mainSec2 {
      display: flex;
      width: auto;
      height: 80%;
   }
}   

body{
	font-family: 'RocknRoll One', sans-serif;
	background-image: linear-gradient( to right, rgb(47, 85, 134), rgb(96, 154, 192),white);
	margin: 5px;
}

header {
	background-color: rgb(12, 3, 95); 
   background-image: repeating-linear-gradient(to right, rgb(12, 3, 95), rgb(96, 154, 192),white);
}

#logoPrincipal {
   border: ridge;
   z-index: 2;
}
#logoPrincipal:hover {
   transform: translate(20px, 20px);
   transition: 1s ease-in-out;
}

#whirlingPic {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

#whirlingPic:hover {
   transform: rotate(2160deg);
   transition: 1.5s ease-in-out;
}

/*-------------MENU SUBMENU-----------------*/
header #menuPrincipal {
   list-style:none;
   display:flex;
   float:right;
   position:absolute;
   top: 1%;
   right: 5%;
   margin: 10px;
   font-size: 22px;
   text-align:center;
}

#menuPrincipal li {
   margin-bottom: 0;
   margin-right: 0.5em;
   border: ridge;
   margin-right: -1;
   margin-left: 0;
   color: black;
   padding: 7;
}

#menuPrincipal li a {
   color: black;
}
#menuPrincipal li:hover {
   background-image: linear-gradient( to left, rgb(45, 95, 161),rgb(96, 138, 192),rgb(100, 176, 226));
}
#menuPrincipal li:hover a {
   color: white;
}

#logoPrincipal, #menuPrincipal {
   display: inline-block;
   vertical-align: bottom;
}
header li ul {
   overflow: hidden;
   list-style: none;
   padding: 8px;
   position:absolute;
   display:none;
   text-align:center;
   width: 196px;
   margin-left: -18;
}
header li:hover ul {
   display: block;
}

/*PARRAFOS*/
p {
   font-weight: bold;
   color: midnightblue;
   background-image: linear-gradient( to left, rgb(96, 154, 192),rgb(137, 167, 167),white);
   text-transform: capitalize;
   word-spacing: 5px;
   border: ridge;
   border-bottom: solid 3px rgb(56, 58, 151);
   border-right: solid 3px rgb(56, 58, 151);
}

/*------------IMAGENES EN GRILLA------------*/
#mainSec2 {
   display: grid;
   grid-template-areas:
   "blankPic1 blankPic2 blankPic3"
   "blankPic4 blankPic5 blankPic6";
   grid-column-gap: 10px;
   grid-row-gap: 10px;
   margin-right: 10px;
   margin-left: 10px;
   justify-items: center;
   align-items: center;
}

#mainSec2 img {
   height: 75%;
   max-width: 75%;
   border: ridge;
   background-image: linear-gradient(90deg, rgb(28, 45, 56),rgb(40, 82, 82),rgb(30, 102, 66));
}

#mainSec2 img:hover {
   transform: scale(1.35);
   transition: transform 0.5s ease-in-out;
}

/*--------------------FOOTER------------------*/

footer {
   background-image: repeating-linear-gradient(to right, rgb(12, 3, 95), rgb(96, 154, 192),white);
   position:relative;
   width: 100%;
   height: 60px;
}

#footloose {
   display:flex;
   flex-wrap:nowrap;
   width:min-content;
   margin-right: 20px;
   margin-top: 15px;
   float: right;
}

#footloose img {
   height: 30px;
   width: 30px;
   margin-right: 30px;
}